<header>
  <h1>Detección Automática en Radiografías de Pecho</h1>
  <a [routerLink]="['/image']" class="btn-subir">Subir Imagen</a>

</header>

<main>
  <section class="imagen-ejemplo">
    <img src="chest-image.png" alt="Ejemplo de radiografía con localización de enfermedades">
  </section>
  <section class="descripcion">
    <p>
      Esta práctica de Inteligencia Artificial utiliza el conjunto de datos
      <strong>ChestX-ray8</strong>, el cual contiene más de 100,000 radiografías frontales
      del tórax. Mediante modelos de aprendizaje profundo, se realiza una detección
      automática de enfermedades torácicas como Atelectasia, Cardiomegalia, Derrame pleural,
      Infiltración, Masa, Nódulo, Neumonía y Neumotórax.
    </p>
    <p>
      El sistema ha sido entrenado con una red neuronal convolucional (CNN) para
      realizar clasificación multietiqueta y localizar regiones afectadas de forma
      débilmente supervisada. El objetivo es construir una herramienta de apoyo diagnóstico
      a gran escala que pueda ser usada en entornos hospitalarios.
    </p>
  </section>

</main>